<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kripto Account</title>

    <link rel="icon" href="/src/public/images/logo-color.png">

    <link rel='stylesheet' href="/src/public/css/index.css" type="text/css">

    <meta property="og:image" content="images/preview/preview-account-new.png"/>
    <meta property="og:title" content="Kripto Account"/>
    <meta property="og:description" content="Trading Future"/>
    <meta property="og:url" content="https://kripto-website.herokuapp.com/account"/>
</head>
<style>
    body {
        background-image: url('src/public/images/background.jpg');
        background-size: cover;
    }

    td {
        padding: 1rem;
    }

    @media screen and (max-width: 60em) {
        body {
            background-image: url('src/public/images/background2.jpg');
        }
    }
</style>

<body>

<div id="loading">
    <img id="loading-image" src="/src/public/images/loading.gif" alt="Loading..."/>
</div>

<%- include ('partials/navbar') %>

<!-- Main Content -->
<div class="flex-container" style="margin-top: 2rem">
    <div class="col-2-3">
        <table class="frame form fadeInUp" style="color: #302b63">
            <tr>
                <td colspan="2">
                    <img src="src/public/images/user.png" alt="user"></td>
            </tr>
            <tr>
                <td class="text-left">Username</td>
                <td class="text-right"><%= name %></td>
            </tr>
            <tr>
                <td class="text-left">Email</td>
                <td class="text-right"><%= email %></td>
            </tr>
            <tr>
                <td class="text-left">Phone number</td>
                <td class="text-right"><%= phone %></td>
            </tr>
            <tr>
                <td class="text-left">Country</td>
                <td class="text-right"><%= country %></td>
            </tr>
        </table>
    </div>
</div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

<script src="/src/resources/jquery.js"></script>
<script src="/src/resources/popper.min.js"></script>

<script src="/src/public/js/loading.js"></script>

</body>

</html>